In [1]:
import pandas as pd
import numpy as np
import glob
import os

In [2]:
path = r'C:\Users\gjab\Downloads\2018\*'            # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))  # advisable to use os.path.join as this makes concatenation OS independent

In [3]:
df_from_each_file = (pd.read_csv(f) for f in all_files)

In [4]:
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)
# doesn't create a list, nor does it append to one'

In [6]:
#concatenated_df.to_csv('concatenated', index=False)

In [7]:
concatenated_df.head()

,date,station_uuid,diesel,e5,e10,dieselchange,e5change,e10change
0,2018-01-01 00:01:06+01,011d59f3-9b7f-4000-863b-c3b815099ff4,1.299,1.469,1.449,1,1,1
1,2018-01-01 00:01:06+01,3e7c0f12-9665-40e2-7c70-d0dfb19314cd,1.249,1.449,1.429,1,1,1
2,2018-01-01 00:01:06+01,6151509b-91c5-43fe-ed78-a5196b38888c,1.249,1.449,1.429,1,1,1
3,2018-01-01 00:01:06+01,db9309c1-eb3f-4a2a-92ec-a374262facc9,1.274,0.000,0.000,1,0,0
4,2018-01-01 00:01:06+01,f51010c6-b9f3-4a0c-b550-72ad3007e24d,1.219,1.419,1.399,1,1,1

In [8]:
stations = pd.read_csv('C:/Users/gjab/Downloads/stations.csv')

In [9]:
stations_info = stations[['uuid','name','brand','latitude','longitude']]

In [10]:
df = concatenated_df

In [11]:
df = pd.concat([df,stations_info], axis=1)

In [ ]:
#df.describe()

In [19]:
len(df['station_uuid'].unique())

15258

In [12]:
df['station count'] = df.groupby('station_uuid')['station_uuid'].transform('count')

In [13]:
df_main = df[df['station count'] >= 5963]

In [14]:
df_main_upper = df_main[df_main['station count'] >= 7143]

In [21]:
df_main_upper.to_csv('station_selected_01.csv', index=False, sep=';')

In [17]:
df_main_upper.head()

,date,station_uuid,diesel,e5,e10,dieselchange,e5change,e10change,uuid,name,brand,latitude,longitude,station count
10,2018-01-01 00:02:06+01,910350b2-d6e2-4549-b53e-af11743c088e,1.279,1.469,1.449,0,1,1,005056ba-7cb6-1ed2-bceb-bc577a5e6d4e,star Tankstelle,STAR,53.749730,9.680620,8646
60,2018-01-01 00:14:06+01,4176b515-3dcc-4e45-8cef-b4e970d89c39,1.319,1.479,1.459,1,1,1,3c57e143-470c-4130-b8ea-0a775e5f081c,"KAUFBEUREN, SUDETENSTRAÃŸE.",Shell,47.898714,10.644375,7471
74,2018-01-01 00:19:06+01,6bfa04d1-b1c5-468b-b465-4e7bdee41a39,1.339,1.489,1.469,0,1,1,484aeb02-e77e-4fab-9a12-1162370e091e,Aral Tankstelle,ARAL,51.066890,6.991081,7743
79,2018-01-01 00:23:06+01,199f83f7-ffb0-4060-9729-32ac93d2c898,1.299,1.459,1.439,1,1,1,49b56e87-1419-4560-bf2b-2b5e72ee2f28,rhv Tankstelle,Raiffeisen,50.851398,9.725596,7269
116,2018-01-01 00:42:06+01,66882ed5-67ff-45c0-8098-240b4b10aa7b,1.259,1.409,1.369,1,1,1,60abebe5-e51d-4bf1-a96b-f4b9a17dfa49,Aral Tankstelle,ARAL,47.738570,9.598375,7190

In [22]:
len(df_main_upper['station_uuid'].unique())

530

In [23]:
df_main_upper.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4101881 entries, 10 to 65544844
Data columns (total 14 columns):
date             object
station_uuid     object
diesel           float64
e5               float64
e10              float64
dieselchange     int64
e5change         int64
e10change        int64
uuid             object
name             object
brand            object
latitude         float64
longitude        float64
station count    int64
dtypes: float64(5), int64(4), object(5)
memory usage: 469.4+ MB

In [ ]:
#len(df_main_upper['station_uuid'].unique())

In [ ]:
#df_main_upper.head()

In [ ]:
#stations.head()

In [ ]:
#stations_info.head()

In [ ]:
#df_all = pd.merge(df_main_upper, stations_info, on= 'uuid', how='right')
#df_all = pd.concat([df_main_upper,stations_info], axis=1)
#pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
#          keys=None, levels=None, names=None, verify_integrity=False,
#          copy=True)

In [ ]:
#df_all = df_all.dropna(axis=0)

In [ ]:
df_all.info()

In [ ]:
df_all.head(100)