In [5]:
import pandas as pd
import numpy as np
import glob
import os

In [9]:
path = r'C:\Users\gjab\Downloads\2018\*'                     # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

df_from_each_file = (pd.read_csv(f) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)
# doesn't create a list, nor does it append to one

In [11]:
concatenated_df.tail()

,date,station_uuid,diesel,e5,e10,dieselchange,e5change,e10change
65544840,2018-12-31 23:59:05+01,ac79f7e6-a993-4d86-b83e-ab75cec4e0e0,1.319,1.399,1.379,1,1,1
65544841,2018-12-31 23:59:05+01,769e0b9c-1aed-42dc-9099-b8b2f25f6b2f,1.289,1.399,1.379,1,1,1
65544842,2018-12-31 23:59:05+01,f549406e-de56-4a6a-92ca-51c01a6d9927,1.379,1.499,1.479,1,1,1
65544843,2018-12-31 23:59:05+01,109195b4-ac2f-4120-ae47-199386e700f6,1.299,1.389,1.369,1,1,1
65544844,2018-12-31 23:59:05+01,bcba0c2b-fbe7-4447-aacf-6806f1244f6b,1.259,1.359,1.338,1,1,1